
.footer1{
    padding: 4rem;
    text-decoration: none;
    background-color:#FB5547;
    color: white;
}

.footer-container {
    
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.column h4 {

    /* color: #333; */
    margin-bottom: 1rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    margin-bottom: 0.5rem;
}




.footer-img {
   
    margin-top: 6rem;
    /* display: flex; */
    float: right;
}
.footer-img img{
    margin-left: 10px;
}