.mainpage {
  background-image: url('../assets/bg3.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.title {
  
  margin: auto;
  max-width: 30rem;
  font-style: italic;
  font-size: 46px;
  margin-left: 6rem;
  display: flex;
  justify-content: center;
  color: white;
}
.explore{
  text-decoration: none;
}

button {
  display: flex;
  flex-direction: row;
  border: none;
  border-radius: 6px;
  height: auto;
  width: 10rem;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 1rem;
  font-size: 20px;
  font-weight: bold;
  font-style: italic;
  cursor: pointer;
  /* text-decoration: none; */
  color: black;
  position: relative;
  overflow: hidden;
}

button::before {
  content: '';
  position: absolute;
  top: -50%;
  left: -50%;
  width: 200%;
  height: 200%;
  background-color: rgba(211, 97, 234, 0.3);
  opacity: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

button:hover::before {
  opacity: 1;
  transform: scale(1);
}

.btn-explore {
  margin-left: 6rem;
  margin-right: auto;
}

.btn-arrow {
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

@media (max-width: 768px) {
  .title {
    font-size: 36px;
    margin-left: 2rem;
  }

  .btn-explore {
    margin-left: 2rem;
  }
}
