body{
  align-content: center;
}

.listt {
  position: relative;
  margin: auto;
  padding: 30px;
  margin-top: 10px;
  width: fit-content;
  height: max-content;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 40px -1px, rgba(0, 0, 0, 0.3) 0px 1px 30px -1px;
  background-color: #9f72b1;
  color: white;
  border-radius: 10px;
}

a {
  text-decoration: none;
  color: white;
  display: inline-block;
  margin: 0 10px 0 0;
}

h1,
.add-list {
  margin: 0 auto;
}

ul {
  justify-content: center;
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: column;
}

li {
  height: 30px;
  text-align: justify;
  padding: 0 20px;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 102px;
  background-color: rgba(211, 208, 208, 0.2);
  margin-bottom: 10px;
}

li button {
  margin-right: 10px;
  margin-left: 10px;
}

li input[type="checkbox"] {
  margin-right: 5px;
  margin-left: 5px;
  
}

/* .check {
  color: red;
  background: transparent;
  border: none;
} */

.add-content {
  background: black;
  color: white;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  padding: 6px;
}

input[type="text"]{
  width: 100%;
  /* background-color: black; */
  background-color: rgba(245, 235, 235, 0.2);
  color: white;
  border-radius: 10px;
  padding: 2px;
}

input[type="text"]::placeholder {
  color: white;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: black;
  border-radius: 10px;
  padding: 2px;
}

button {
  /* background-color: ; */
  align-items: center;
  width: 4rem;
  justify-content: space-between;
  justify-content: center;
  border-radius: 10px;
  padding: 2px;
}

.bookmark {
  font-style: oblique;
  position: absolute;
  top: 0px;
  bottom: 10px;
  right: 10px;
}

.copyrigh {
  color: white;
}

.i-2:hover {
  transition: all;
  transform: scale(1.0);
  color: black;
}

.i-1:hover {
  transition: all;
  transform: scale(1.0);
  color: black;
}
